.Frame5 {
  width: 1430px;
  height: 1044px;
  position: absolute;
  top: 2647px;

}

.Frame5 h2 {
    width: 997px;
    height: 50px;
    position: relative;
    top: 0;
    left: 221px;
    font-family: "Garnett Semibold", sans-serif;
    font-size: 42px;
    font-style: italic;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    color: rgba(92, 39, 192, 1);
  }

  .Frame5 h2 span {
    font-family: "Garnett Regular", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
  }

.cardsContainer{
  width: 100%;
  height: 656px;
  /* background-color: aqua; */
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
    position: absolute;
    top:-0;
    
}
.card1 {
  border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 366px;
    height: 726px;
   
    background: white;
  box-shadow: 0px 20px 40px 0px rgba(118, 118, 118, 0.35);

    position: relative;
    top: 100px;
    
  
}

.card2 {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 366px;
  height: 726px;
 
  background:rgba(92, 39, 192, 1);
box-shadow: 0px 20px 40px 0px rgba(118, 118, 118, 0.35);

  position: relative;
  top: 100px;
  
    
  }

  .card3 {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 366px;
    height: 726px;
    
    background: white;
  box-shadow: 0px 20px 40px 0px rgba(118, 118, 118, 0.35);

    position: relative;
    top: 100px;
    
  }

.cardHeader {

  padding: 40px 20px 0px 20px;
  text-align: center;
  color: rgba(92, 39, 192, 1);
  font-family: "Space Grotesk";
font-size: 24px;
font-weight: bolder;

line-height: 32.04px;
text-align: center;

}
.cardHeaderSpan{
    
    text-align: center;
    color: rgba(92, 39, 192, 1);
    font-family: "Garnett Medium",sans-serif;
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
  line-height: 32.04px;
  text-align: center;
}

.cardBody {
  padding: 10px 20px;
  text-align: center;
}

.cardHeadingStartSpan {
  padding: 10px 0;

  font-family: "Garnett Medium",sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  line-height: 55.72px;
  text-align: center;
}

.cardHeadingEndSpan {
  position: relative;

  font-family: "Garnett Medium",sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 55.72px;
  text-align: center;
}

h4 {
  color: rgba(92, 39, 192, 1);
  font-family: "Garnett Medium",sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  width: 296px;
  height: 56px;
}
.cardBodyh4{
    font-family: "Garnett Medium",sans-serif;
  font-size: 20px;

  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  width: 296px;
  height: 56px;
  color: white;  
}
.cardFooter {
  text-align: center;
  position: relative;
  top: 300px;
}

.cardFooter button {

  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.points {
  display: block;
  width: 263px;
  height: 76px;

  position: relative;
  top: 30px;
  left: 20px;
}

.point {
  display: flex;
  align-items: center;
  height: 37px;
  margin-top: 7px;
  padding: 5px;
  gap: 20px;
}

.pointsDesc {
  width: 233px;
  height: 21px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(92, 39, 192, 1);
  position: relative;
  top: -1px;
}

.F5Btn {
    width:296px;
    height:60px;
    position: relative;
   
   
    gap: 16px;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    color: white;
    background: rgba(92, 39, 192, 1);
    border: 2px solid rgba(92, 39, 192, 1);
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.22);

    
  }

  .btnText {
    width: 169px;
    height: 28px;
  position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    
  }
  
  /*  */
  .cardHeader2 {

    padding: 40px 20px 0px 20px;
    text-align: center;
    color: white;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-weight: bolder;
  font-weight: 500;
  line-height: 32.04px;
  text-align: center;
  
  }

  .cardHeaderSpan2{
    
    text-align: center;
    color: white;
    font-family: "Garnett Medium",sans-serif;
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
  line-height: 32.04px;
  text-align: center;
}
  

  .cardFooter2 {
    text-align: center;
    position: relative;
    top: 300px;
  }
  
  .cardFooter2 button {
   
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  .points2 {
    display: block;
    width: 263px;
    height: 76px;
   
    background-blend-mode: overlay;

    position: relative;
    top: 30px;
    left: 20px;
  }
  
  .point2 {
    
    display: flex;
    align-items: center;
    height: 37px;
    margin-top: 7px;
    padding: 5px;
    gap: 20px;
  }
  
  .mark{
    flex-shrink: 0;
    height: 24px;
    overflow: hidden;
    position: relative;
    width: 24px;
    background: rgba(92, 39, 192, 1);
    background-blend-mode: inherit; 
}

  .pointsDesc2 {
    width: 233px;
    height: 21px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: white;
    position: relative;
    top: -7px;
  }
  
  .F5Btn2 {
      width:296px;
      height:60px;
      position: relative;
     
     
      gap: 16px;
      border-radius: 10px;
      border: 2px 0px 0px 0px;
      opacity: 0px;
      background: white;
      border: 2px solid rgba(92, 39, 192, 1);
      box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.22);
  
      
    }
  
    .btnText2 {
      width: 169px;
      height: 28px;
    position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: rgba(92, 39, 192, 1);
    }
    
    .F5Footer {
      width: 271px;
      height: 70px;
      padding: 21px 56px;
    
      border-radius: 21px;
      opacity: 1;
      background: white;
      border: 2px solid rgba(92, 39, 192, 1);
      box-shadow: 0px 20px 40px 0px rgba(118, 118, 118, 0.35);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      
    
      position: absolute;
      bottom: 50px;
      left: 600px;
    }
    .F5btnFooter {
      width: 159px;
      height: 28px;
    
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: white;
    }
    