/* Navbar.module.css */

.navbar {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  padding: 34px 120px; 
  background-color: #FFFFFF; 
  box-shadow : 0 5px 10px rgba(92, 92, 92, 0.5);
}

.logo {
  position: relative;
  width: 139px;
  height: 40px;
  transform: rotate(1deg);
}

.nav {
  padding: 10px;
  display: flex;
  width: 607px;
  height: 24px;
}

ul {
  list-style-type: none;
  display: flex;
}

.NavItems {
  margin: 0 10px; /* Add margin between nav items */
}

.NavItems a {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #8e8e8e;
  font-weight: 600; 
  font-size: 16px;
  text-decoration: none;
}
.NavItems a:hover {
  color: #5c27c0;

  text-decoration: underline;
  transition: 0.3s ease;
}
.NavItems a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white; /* Adjust the color of the underline */
  transition: width 0.8s ease; /* Add transition for smooth animation */
}

.NavItems a:hover::before {
  width: 100%; /* Expand the underline on hover */
}
.NavItems a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 50%;
  width: 0;
  height: 2px;
  background-color: white; /* Adjust the color of the underline */
  transition: width 0.8s ease; /* Add transition for smooth animation */
}
.NavItems a:hover::after {
  width: 100%; /* Expand the underline on hover */
}

.NavbarButtons {
  width: 298px;
  height: 44px;
}

.NavbarButton1 {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: #5c27c0;
  display: inline-block;
  width: 129px;
  height: 44px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #5c27c0;
  transition: background-color 0.2s ease-in-out;
}
.NavbarButton2 {
  background-color: #5c27c0;
  display: inline-block;
  width: 129px;
  height: 44px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s ease-in-out;
}




/* mobil */


@media screen and (max-width: 768px) {
  .navbar {
   /* background-color: black; */
    width: 780px;
    height: 100px;
    flex-direction: row;
    padding: 10px; /* Adjust padding for smaller devices */
    align-items: center; /* Align items to start on smaller screens */
  }

  .logo {
    margin-bottom: 10px;
    margin-left: 40px;
  
  }

  .nav {
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%; 
    
  }

  .NavItems {
    margin: 10px 0; /* Add margin between nav items */
    position: relative;
    top: 50px;
    right: 100px;
    width: 100px;
  }
  ul {
    list-style-type: none;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(290px,1fr)); */
    flex-direction: row;
 
    align-items: flex-start;
    
  }

  .NavbarButtons {
    width: 100vw; /* Occupy full width */
    position: relative;

    right: 370px;
   top: -5px;
display: flex;


    font-family: "Poppins", sans-serif;

  }

  .NavbarButton1,
  .NavbarButton2 {
    width: 130px; /* Adjust button width */
    margin: 0; /* Remove margin between buttons */
    margin: 0 2px 0 20px;
  
  }

  .NavItems a {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #8e8e8e;
    font-weight: 600; 
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px ;
    text-decoration: none;
  }

}
