.Frame9 {
  width: 1430px;
  height: 1044px;
  position: absolute;
  top: 5687px;
}

.Frame9 h2 {
  width: 997px;
  height: 50px;
  position: relative;
  top: 0;
  left: 221px;
  font-family: "Garnett Semibold", sans-serif;
  font-size: 42px;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  color: rgba(92, 39, 192, 1);
}

.Frame9 h2 span {
  font-family: "Garnett Regular", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.cardsContainer {
  width: 100%;
  height: 656px;
  /* background-color: aqua; */
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  position: absolute;
  top: -0;
}
.card {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 430px;
  height: 626px;

  background: white;
  box-shadow: 0px 20px 40px 0px rgba(118, 118, 118, 0.35);

  position: relative;
  top: 100px;
}

.cardHeader {
  padding: 40px 20px 0px 20px;
  text-align: center;
  color: rgba(92, 39, 192, 1);
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: bolder;

  line-height: 32.04px;
  text-align: center;
}

.cardBody {
  padding: 20px 50px;
  text-align: center;
}

h4 {
  color: rgba(92, 39, 192, 1);
  font-family: "Garnett Medium", sans-serif;
  font-size: 20px;

  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  width: 296px;
  height: 56px;
}

.cardFooter {
  width: 344px;
  height: 108px;

  text-align: left;
  position: relative;
  top: 30px;
}

.cardFooterPara {
  width: 344px;
  height: 108px;
  padding: 0px 15px;

  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;

  color: rgba(106, 106, 106, 1);
}

.cardHeaderImg {
  width: 384px;
  height: 285px;
}

.frame-parent5 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 13px;
    justify-content: flex-start;
    left: calc(50% - 64px);
    position: relative;
    top: 55px;
}

.frame-inner {
    background-color: #5c27c0;
    border-radius: 5px;
    flex-shrink: 0;
    height: 8px;
    overflow: hidden;
    position: relative;
    width: 34px;
}
.frame-child1 {
    background-color: #eee5ff;
    width: 81px;
}   
