.Frame6{

    height: 754px;
    width: 1510px;
    background-color: rgba(246, 246, 246, 1);
    ;
    position: absolute;
    top: 3691px;
  
}

.MainContainer{
width: 773px;
height:307px;
position: relative;
top: 83px;
left: 180px;
/* background-color: beige; */
display: block;
text-align: left;


}

.mainHeading{
    width: 773px;
    height: 108px;
    text-align: left;   
    position: relative;
    font-family: "Garnett Semibold", sans-serif;
    font-size: 42px;
    font-style: italic;
    font-weight: 600;
    line-height: 50px;
    color: rgba(92, 39, 192, 1);
   

}
.mainHeadingPara{
    width: 773px;
    height: 108px;
    position: relative;
    font-family: "Garnett Semibold", sans-serif;
    font-size: 42px;
    font-style: italic;
    font-weight: 600;
    line-height: 50px;
    
    color: rgba(92, 39, 192, 1); 
}
.mainHeadingSpan{
 font-family: "Garnett Regular", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}
.mainBody{
    padding-top: 20px;
    width: 773px;
    height: 61px;
/* background-color: yellow; */
text-align: left;

}
.mainFooter{
    width: 773px;
    height: 108px;
  
/* background-color: brown; */

text-align: left;
}
.mainFooter p{

 font-family: "Poppins";
font-size: 18px;
font-weight: 700;
line-height: 27px;
text-align: left;

}

.mainFooterSpan{
    margin-top: 20px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    position: relative;
    left: 10px;
}

.Frame6img{
    width: 387px;
height: 563px;
position: relative;
top: -250px;
left: 933px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;

}

.F6Btn {
    width:496px;
    height:60px;
    position: relative;
    bottom: 390px;
    left: 250px;
    gap: 16px;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    background: rgba(92, 39, 192, 1);
    border: 2px solid rgba(92, 39, 192, 1);
    
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.22);

    
  }

  .F6btnText {
    width: 169px;
    height: 28px;
  position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
  }
